<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://api.uclassify.com/v1"/>
    <add key="ClassifyTextUrl" value="/{username}/{classifierName}/classify"/>
    <add key="ClassifyTextWithLanguageUrl" value="/{username}/{classifierName}/{language}/classify"/>
    <add key="ClassifyTextKeywordsUrl" value="/{username}/{classifierName}/keywords"/>
    <add key="GetClassifierInformationUrl" value="{username}/{classifierName}"/>
    <add key="CreateClassifierUrl" value="/me/"/>
    <add key="RemoveClassifierUrl" value="/me/{classifierName}"/>
    <add key="AddClassifierClassUrl" value="/me/{classifierName}/addClass"/>
    <add key="RemoveClassifierClassUrl" value="/me/{classifierName}/{className}"/>
    <add key="TrainClassifierUrl" value="/me/{classifierName}/{className}/train"/>
    <add key="UnTrainClassifierUrl" value="/me/{classifierName}/{className}/untrain"/>
    <add key="UserName" value="YourAPIUserName"/>
    <add key="Read_API_KEY" value="YourAPIKEY"/>
    <add key="Write_API_KEY" value="YourAPIKEY"/>
  </appSettings>
</configuration>